<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.yt.uniPlatform.mapper.BdmOrganizationMapper">
	<resultMap
		type="com.yt.uniPlatform.dataObject.BdmOrganizationDO"
		id="bdmOrganizationResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="orgNumber" column="org_number" />
		<result property="parentOrgId" column="parent_org_id" />
		<result property="orgType" column="org_type" />
		<result property="directType" column="direct_type" />
		<result property="businessType" column="business_type" />
		<result property="dutyDesc" column="duty_desc" />
		<result property="regionId" column="region_id" />
		<result property="street" column="street" />
		<result property="address" column="address" />
		<result property="managerName" column="manager_name" />
		<result property="managerMobile" column="manager_mobile" />
		<result property="note" column="note" />
		<result property="status" column="status" />
		<result property="createAt" column="create_at" />
		<result property="creator" column="creator" />
		<result property="updateAt" column="update_at" />
		<result property="updater" column="updater" />
	</resultMap>

	<select id="queryBdmOrganizationListByCondition"
		parameterType="com.yt.uniPlatform.dataObject.BdmOrganizationDO"
		resultMap="bdmOrganizationResultMap">
		select * from bdm_org_organization
		<where>
			<if
				test="bdmOrganization.orgNumber != null and bdmOrganization.orgNumber !='' ">
				and org_number like concat('%', #{bdmOrganization.orgNumber},
				'%')
			</if>
			<if
				test="bdmOrganization.name != null and bdmOrganization.name !='' ">
				and name like concat('%', #{bdmOrganization.name}, '%')
			</if>
			<if
				test="bdmOrganization.orgType != null and bdmOrganization.orgType !='' ">
				and org_type = #{bdmOrganization.orgType}
			</if>
			<if
				test="bdmOrganization.status != null and bdmOrganization.status !='' ">
				and status = #{bdmOrganization.status}
			</if>
		</where>
	</select>

	<select id="queryBdmOrganizationById"
		resultMap="bdmOrganizationResultMap">
		select * from bdm_org_organization where id = #{id}
	</select>

</mapper>