<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.uniPlatform.mapper.ShippersMapper">
	<resultMap type="com.yt.uniPlatform.dataObject.ShippersDO"
		id="shippersResultMap">
		<id property="id" column="id" />
		<result property="comName" column="com_name" />
		<result property="comAbout" column="com_about" />
		<result property="betterArea" column="better_area" />
		<result property="bussId" column="buss_id" />
		<result property="urlBussId" column="url_buss_id" />
		<result property="bussMoney" column="buss_money" />
		<result property="entpId" column="entp_id" />
		<result property="urlEntpId" column="url_entp_id" />
		<result property="transId" column="trans_id" />
		<result property="urlTransId" column="url_trans_id" />
		<result property="urlInsurance" column="url_insurance" />
		<result property="legalpName" column="legalp_name" />
		<result property="legalpHome" column="legalp_home" />
		<result property="legalpCid" column="legalp_cid" />
		<result property="legalpPhone" column="legalp_phone" />
		<result property="legalpEmail" column="legalp_email" />
		<result property="urlFcid" column="url_fcid" />
		<result property="urlBcid" column="url_bcid" />
		<result property="taxId" column="tax_id" />
		<result property="urlTax" column="url_tax" />
		<result property="bAccount" column="b_account" />
		<result property="bCom" column="b_com" />
		<result property="bBank" column="b_bank" />
		<result property="urlBPassport" column="url_b_passport" />
		<result property="urlBTaxer" column="url_b_taxer" />
		<result property="urlProfit" column="url_profit" />
		<result property="urlAuditReport" column="url_audit_report" />
		<result property="urlAddTax" column="url_addtax" />
		<result property="urlProperty" column="url_property" />
		<result property="contactName" column="contact_name" />
		<result property="contactCid" column="contact_cid" />
		<result property="contactHome" column="contact_home" />
		<result property="contactPhone" column="contact_phone" />
		<result property="contactEmail" column="contact_email" />
		<result property="contactPosition" column="contact_postion" />
		<result property="contactDepart" column="contact_depart" />
		<result property="createTime" column="create_time" />
		<result property="status" column="status" />
		<result property="userId" column="user_id" />
		<result property="comNo" column="com_no" />
	</resultMap>

	<select id="queryShippersById" resultMap="shippersResultMap">
		select * from shippers
		where id = #{id}
	</select>
</mapper>	