<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper	namespace="com.yt.uniPlatform.mapper.TransportLocationMapper">
	<resultMap 	type="com.yt.uniPlatform.dataObject.TransportLocationDO"
		id="transportLocationResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="address" column="address" />
		<result property="roadAddress" column="road_address" />
		<result property="radiusB" column="radius_b" />
		<result property="radiusS" column="radius_s" />
		<result property="lon" column="lon" />
		<result property="lat" column="lat" />
		<result property="countryCode" column="country_code" />
		<result property="countryNane" column="country_name" />
		<result property="provinceCode" column="province_code" />
		<result property="provinceName" column="province_name" />
		<result property="cityCode" column="city_code" />
		<result property="cityName" column="city_name" />
		<result property="areaCode" column="area_code" />
		<result property="areaName" column="area_name" />
		<result property="fkProvinceCode" column="fk_province_code" />
		<result property="fkCityCode" column="fk_city_code" />
		<result property="fkAreaCode" column="fk_area_code" />
		<result property="code" column="code" />
		<result property="childCode" column="child_code" />
		<result property="contact" column="contact" />
		<result property="telephone" column="telephone" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="shortName" column="short_name" />
		<result property="yardName" column="yard_name" />
		<result property="yardShortName" column="yard_short_name" />
		<result property="orgId" column="org_id" />
		<result property="status" column="status" />
		<result property="reason" column="reason" />
		<result property="description" column="description" />
	</resultMap>
		
	<select id="queryTransportLocationListByCondition"
	parameterType="com.yt.uniPlatform.dataObject.TransportLocationDO"
	resultMap="transportLocationResultMap">
		select * from transport_location
		<where>
			<if test="transportLocation.name != null and transportLocation.name !='' ">
				and name like concat('%', #{transportLocation.name}, '%')
			</if>
			<if test="transportLocation.code != null and transportLocation.code !=''">
				and code like concat('%', #{transportLocation.code}, '%') 
			</if>
			
			<if test="transportLocation.status != null and transportLocation.status !=''">
	and status = #{transportLocation.status}
			</if>
		</where>
	</select>
	
	<select id="queryTransportLocationById" resultMap="transportLocationResultMap">
		select * from transport_location where id = #{id}
	</select>
</mapper>