<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.uniPlatform.mapper.DriverMapper">
	<resultMap type="com.yt.uniPlatform.dataObject.DriverDO"
		id="driverResultMap">
		<id property="id" column="id" />
		<result property="fkUserId" column="fk_user_id" />
		<result property="plate" column="plate" />
		<result property="createAt" column="create_at" />
		<result property="fkCarrierId" column="fk_carrier_id" />
	</resultMap>

	<select id="queryDriverById" resultMap="driverResultMap">
		select * from driver
		where id = #{id}
	</select>

	<select id="queryDriverByFkUserId" resultMap="driverResultMap">
		select * from
		driver where fk_user_id = #{fkUserId}
	</select>
</mapper>